.single {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%
}

.panel-flex {
    display: -webkit-flex;
    display: flex;
    flex-direction: column
}
.panel-flex-heading,
.panel-flex-footer {
    flex: none;
    -webkit-flex: none
}
.panel-flex-body {
    flex: 1 0;
    -webkit-flex: 1 0;
    order: 2
}
.panel-flex-heading {
    order: 1
}
.panel-flex-footer {
    order: 3
}
.content-body {}

.panel-flex-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.panel-flex-footer {
    text-align: right;
}
.panel > .panel-body {
    padding: 7.5px;
}

.separator {
    color: #000;
    font-weight: 600;
}

.tb-spin {
    -webkit-animation: tb-spin 3s infinite linear;
    animation: tb-spin 3s infinite linear;
}
@-webkit-keyframes tb-spin {
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
}
@keyframes tb-spin {
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
}

.panel,
.panel-group-sm {
    margin-bottom: 10px;
}

.s {
    padding: 0.5em 0;
}

.c,
.sn {
    font-weight: 600;
    color: #004b74
}
.c {
    font-size: 200%;
    margin: 1em 0;
    padding-bottom: 0.25em;
    border-top: 0;
    border-bottom: 2px solid #a63c1d;
    line-height: 2em
}
.sn {
    padding: 0.75em 0;
    font-size: 150%;
}
.c>.num,
.sn>.num {
    color: #a63c1d
}
.c>.title,
.sn>.title {
    color: #004b74
}

${style}

.overview,.chapter,.section,.part, .g, .r{
    padding: 1em 0;
    border: 1px solid red;
}
 
.part {
	height:100%
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll !important;
    -webkit-overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch;
}
.navbar {
    margin-bottom: 0;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-pills>li>a,
.navbar-nav>li>a {
    margin:0 5px;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    border-radius: 4px;
    overflow: visible;
    font-weight: bold;
}
.tooltip-text {
    padding: 5px 10px;
    border: 1px solid #d6e9c6;
    margin: 0 5px;
    background-color: #FFFEEE;
    color: #468847;
    text-overflow: ellipsis;
    display: inline-block !important
}
.page-item {
    overflow: visible
}
.first, .last{
   font-size:12px;
   color:#ccc;
}
body{
    background-color: #FFFEEE;
    background: linear-gradient(to right bottom, #EEEDDD, #FFFEEE);
	padding:1em;
}