.single{margin:0;padding:0;height:100%;width:100%}
.qti-panel>.panel-footer{text-align:right;background-color:transparent}.qti-panel>.btn+.btn{vertical-align:middle}.qti-panel label{margin-bottom:0;font-weight:normal}.qti-panel blockquote{font-size:100%;line-height:1.2em}.qti-panel blockquote footer,.qti-panel blockquote small,.qti-panel blockquote .small{line-height:1.1em}.qti-panel input[type="radio"],.qti-panel input[type="checkbox"]{margin:7.5px -15px 0;height:12px;width:12px}.margin-left-5{margin-left:5px}.margin-right-5{margin-right:5px}.margin-left-10{margin-left:10px}.margin-right-10{margin-right:10px}.qti-panel 
.alert-sm{padding:2.5px;margin:0}.qti-panel .well{margin-bottom:5px;background-color:inherit}ul.qti-choice-list{list-style:none}ul.qti-choice-list li,ul.qti-choice-list label{margin-top:1px;height:15px;vertical-align:middle}.qti-choice-control{display:table-cell}.qti-choice-label{display:table-cell;width:15px}.qti-choice-desc{padding:5px 4px 4px;display:table-cell}.btn-xxs{font-size:85%;line-height:1.2em;vertical-align:baseline;border-radius:2px}.panel-flex{display:-webkit-flex;display:flex;flex-direction:column}.panel-flex-heading,.panel-flex-footer{flex:none;-webkit-flex:none}.panel-flex-body{flex:1 0;-webkit-flex:1 0;order:2}.panel-flex-heading{order:1}.panel-flex-footer{order:3}
.content-body{}
.panel-flex-footer .btn + .btn {
	margin-bottom: 0;
  	margin-left: 5px;
}
.panel-flex-footer {
	text-align: right;
}
.panel > .panel-body {
  padding: 7.5px;
} 
 
.panel >.panel-footer {
  padding: 3.75px 7.5px;
}

.panel .nav-tabs > li > a {
line-height: 0.75em;
}

.dropdown-inline {
display: inline-block;
}

.az-exp-panel {
	border:0;
	padding-top:15px;
	background-color: #fbeab3
}

.az-exp-panel> .panel-heading {
  color:#efc18a;
  background-color: #004b74;
  border-top:2px solid #e28f26;
  border-bottom:2px solid #e28f26;
}

.chapter-outline {
padding:10px;line-height:1.6; border-radius:0;
}
.section-goal {
padding:10px;line-height:1.6; border-radius:0; 
background-color:#E4E8E6;
border-top:1px solid #0067AC
}
.separator {
color:#000;
font-weight: 600;
}
input[type="checkbox"] {
margin-right:5px
}
 .nav-pills {
  white-space: nowrap;
}

.nav-pills > li {
  white-space: nowrap;
}
.nav-pills>li>a {
  overflow: hidden;
  text-overflow: ellipsis;
}

.nowrap {
        white-space:nowrap;
    }
.tb-spin {
  -webkit-animation: tb-spin 3s infinite linear;
  animation: tb-spin 3s infinite linear;
}

@-webkit-keyframes tb-spin {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
}
@keyframes tb-spin {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
}
.panel-flex-footer .btn + .btn {
	margin-bottom: 0;
  	margin-left: 5px;
}
.panel-flex-footer {
	text-align: right;
}
.panel,.panel-group-sm {
  margin-bottom: 10px;  
}

.az-exp-panel > .panel-body {
font-size: 120%
}

.qti-question,
.chapter-review,
.review-questions,
.critical-thinking-questions,
.key-terms,
.chapter-review {
	border-radius: 8px;
}
.s {
	padding:0.5em 0;
}

.section-title {
	padding:1.5em 0;
}
.body-title {
	padding:1em 0;
}

.bold {
	font-weight:bold;
}

.italic {
	font-style:italic;
}
.c, .sn {
 	font-weight: 600;
	color:#004b74
 }
 
.c {
	font-size:200%;
	margin: 1em 0;
	padding-bottom:0.25em;
	border-top:0;
	border-bottom:2px solid #a63c1d;
	line-height: 2em

}
.sn {
	padding:0.75em 0;
	font-size:150%;
}

.c>.num,.sn>.num {
	color:#a63c1d
}
.c>.title,
.sn>.title {
color:#004b74}

.img {
	max-width:80%;
	margin:15px auto 7.5px;
}

.dropdown-menu {
padding:0	
}
.dropdown-menu>.s {
padding:1em;
background-color:#E4E8E6	
}


.box2 {
	padding-left:3em
}

.my-story {
	border-left: 3em solid #004b74;
	background-color:#fff;
}
.americana {
	border-left: 3em solid #a63c1d;
	background-color:#fff;
}
.defining-american {
	border-left: 3em solid #e28f26;
	background-color:#fff;
}

.panel-body > .box2 {
	padding:0.5em 0 0.5em 3em
}

a {
	color:#a63c1d
}

td {
	background-color:#fbeab3;
	border:1px solid #e28f26
}

table tr:first-child td {	
	font-weight: bold;
}
${style}

.overview,.chapter,.section,.part,.g{
    padding: 1em;
    margin: 1em;
}
 
.r {
    padding: 1em;
    margin: 1em 0;
}

.g {
	padding:1em;
	margin:1em;	
}


.content {
	position: relative; width: 100%; height: 100%; 
	overflow-y:scroll !important;
-webkit-overflow-y:scroll !important;
 -webkit-overflow-scrolling: touch;
}
.navbar-nav{
margin-top:9px
}

.msg-box{
	background-color:#fff;
}
.msg-box>.panel-heading {
	border-radius: 0;
	background-color:#c5cdca;
	color:#004b74;
	font-weight: bold;
}
