<h6>簡介：</h6>
<p>《三國志》簡介：《三國志》由西晉陳壽所撰。全書共分為三部分：《魏書》是基于王沈的《魏書》和鱼豢《魏略》，共三十卷。《吳書》参考于韋昭的《吳書》，共二十卷。《蜀書》由于蜀国没有现成的史书，陳壽只好自己編撰，好在陳壽本来就是蜀国人，从小又喜欢历史，尽管史料有限，他还是完成《蜀書》十五卷，為世人留下了劉備，諸葛亮，關羽，張飛，趙雲。 。 。等眾多家喻戶曉的人物故事。</p>
<p>《三國志》善於敘事，文筆簡練精美，剪裁得當，在二十四史中評價僅次於《史記》。在陳壽死後一百餘年，南朝劉宋時期的裴松之為《三國志》作註和補。裴松之作註，重在訓詁或名物，制度的解釋。他把重點放在事實的增補和考訂上，補缺史料。裴松之的註，成為後代研究三國時期歷史不可缺少的重要參考資料。</p>
<p>陳壽（233年－297年），字承祚。巴西郡安漢縣（今四川南充）人。三國時蜀漢及西晉時著名史學家。陳壽曾任職於蜀漢，蜀漢滅亡之後，被徵入洛陽，在西晉也擔任了著作郎的職務。</p>
<p>裴松之（372年－451年），字世期，漢族，河東聞喜（今山西聞喜）人，後移居江南。南朝宋著名史學家，為《三國志》作註。與兒子裴駰、曾孫裴子野被稱為史學三裴。</p>


<p>内容简介:中国有着悠久的画的历史文化,也有着具有鲜明特点的杰出儿童图书插画家。中国名家经典原创图画书系列便从当代童书插画家中选取了具有代表性的几位,比如杨永青,马得,朱成梁,潘小庆,吴带生,方骏,武建华,冯健男,吴松等等。</p>
<p>故事梗概:《金瓜儿银豆儿》:有一对好心的老爷爷老奶奶。一天,在他们种的南瓜和豆角里,跑出了一对兄妹金瓜儿银豆儿,老爷爷老奶奶高兴极了,一家子可以过著幸福的日子,但没想到,地主张驴垂涎他们的田产,强迫他们缴交一大笔的金银,金瓜儿与银豆儿只好冒险上山挖宝,在会变身的冬瓜王子与雄鸡将军的帮助下,找到了山下的财宝。最终,张驴也受到了应有的惩罚。</p>
<p>杨永青,上海市浦东新区川沙镇人,擅长版画、中国画、图书插画,早年师从著名人物画家谢闲鸥先生,1952年—1987年历任华东青年出版社、中国青年出版社、中国少年儿童出版社美术编辑、编审。创作儿童图书220余册以及数千幅插画,20余种儿童画册以多国文字在海外出版发行。曾获全国少年儿童图书评奖美术一等奖、中国版画家协会“鲁迅奖章”、国际安徒生奖提名等诸多荣誉。获国务院妇女儿童协调委员会颁发的“有突出贡献的儿童工作者”和关心下一代工作委员会颁发的“先进个人”等称号。作品被中国美术馆等多家机构收藏。曾任文化部儿童文学艺术委员会委员、中国美术家协会儿童美术艺术委员会主任、中国版画家协会第一届理事以及其他社会兼职十余项。</p>


<p>内容简介:中国有着悠久的画的历史文化,也有着具有鲜明特点的杰出儿童图书插画家。中国名家经典原创图画书系列便从当代童书插画家中选取了具有代表性的几位,比如杨永青,马得,朱成梁,潘小庆,吴带生,方骏,武建华,冯健男,吴松等等。</p>
<p>故事梗概:《大黑熊和小刺猬》这是一个充满趣味的童话故事,大黑熊是个大个头,很霸道,经常欺负其他小动物。小兔子,小毛驴等都被它欺负过,小刺猬可不怕,大黑熊想一屁股把小刺猬压扁,没想到被小刺猬的刺扎得嗷嗷叫。然后它接受批评,再也不欺负别人了。</p>
<p>杨永青,上海市浦东新区川沙镇人,擅长版画、中国画、图书插画,早年师从著名人物画家谢闲鸥先生,1952年—1987年历任华东青年出版社、中国青年出版社、中国少年儿童出版社美术编辑、编审。创作儿童图书220余册以及数千幅插画,20余种儿童画册以多国文字在海外出版发行。曾获全国少年儿童图书评奖美术一等奖、中国版画家协会“鲁迅奖章”、国际安徒生奖提名等诸多荣誉。获国务院妇女儿童协调委员会颁发的“有突出贡献的儿童工作者”和关心下一代工作委员会颁发的“先进个人”等称号。作品被中国美术馆等多家机构收藏。曾任文化部儿童文学艺术委员会委员、中国美术家协会儿童美术艺术委员会主任、中国版画家协会第一届理事以及其他社会兼职十余项。</p>